USE [master]
GO
/****** Object:  Database [PortafolioRLG]    Script Date: 25/10/2023 05:08:54 p. m. ******/
CREATE DATABASE [PortafolioRLG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PortafolioRLG', FILENAME = N'D:\sql2022\Data\PortafolioRLG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PortafolioRLG_log', FILENAME = N'D:\sql2022\Data\PortafolioRLG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PortafolioRLG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PortafolioRLG]
GO
/****** Object:  Table [dbo].[Persona1]    Script Date: 25/10/2023 05:08:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona1](
	[IDpersona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcionfullstack] [varchar](250) NULL,
	[Email] [varchar](50) NULL,
	[Telefono] [varchar](30) NULL,
	[Pais] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDpersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Persona1] ON 

INSERT [dbo].[Persona1] ([IDpersona], [Nombre], [Descripcionfullstack], [Email], [Telefono], [Pais], [Ciudad]) VALUES (1, N'Rigoberto Lopez Garcia', N'Estudiante en curso de la carrera de TIDSM, de la universidad UTS en México.', N'rixxormen@gmail.com', N'6442008384', N'México', N'C.Obregon')
SET IDENTITY_INSERT [dbo].[Persona1] OFF
GO
/****** Object:  StoredProcedure [dbo].[sp_Listar]    Script Date: 25/10/2023 05:08:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Listar]
as
begin
select * from Persona1
end;
GO
/****** Object:  StoredProcedure [dbo].[sp_Obtener]    Script Date: 25/10/2023 05:08:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_Obtener](
@IDpersona int
)
as
begin
select * from Persona1 where IDpersona = @IDpersona
end;
GO
USE [master]
GO
